@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 202 71% 95%;
    --foreground: 215 25% 27%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;
    --primary: 207 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 70% 90%;
    --secondary-foreground: 207 70% 40%;
    --muted: 207 70% 95%;
    --muted-foreground: 215 25% 55%;
    --accent: 168 44% 55%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 70% 88%;
    --input: 207 70% 88%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 168 44% 55%;
    --chart-3: 207 70% 70%;
    --chart-4: 168 44% 75%;
    --chart-5: 207 70% 85%;
    --radius: 0.5rem;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 207 70% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 47% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 47% 15%;
    --sidebar-ring: 207 70% 53%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 210 40% 98%;
    --chart-1: 207 70% 53%;
    --chart-2: 168 44% 55%;
    --chart-3: 207 70% 70%;
    --chart-4: 168 44% 75%;
    --chart-5: 207 70% 85%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 207 70% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 47% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 47% 15%;
    --sidebar-ring: 207 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
